<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/boardPage.css">
    <title>Stay Away</title>
</head>
<body>

<div class="mainHeader"> Stay Away</div>

<div class="playArea">
    <div class="gameTable"></div>

    <div class="mainPlayerHand">
        <table>
            <tbody>
            <tr>
                <td class="mainPlayerCard"> <img src="/flamethrower.png" alt="N/A" class="mainPlayerCard"></td>
                <td class="mainPlayerCard"> <img src="/suspicious.png" alt="N/A" class="mainPlayerCard"></td>
                <td class="mainPlayerCard"> <img src="/axe.png" alt="N/A" class="mainPlayerCard"></td>
                <td class="mainPlayerCard"> <img src="/analysis.png" alt="N/A" class="mainPlayerCard"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>