<!DOCTYPE HTML>
<html
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/boardPage.css">
    <link rel="stylesheet" href="/common.css">
    <title>Stay Away</title>
    <script src="/board.js" defer></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
</head>
<body>

<div class="mainHeader"> Stay Away</div>

<div sec:authorize="isAuthenticated()" class="loggedInAs">
    Authenticated as <span sec:authentication="name"></span></div>

<div>
    <button onclick="drawCardFromDeck()"> Draw Card</button>
</div>

<div>
    <button onclick="discard()"> Discard (first card)</button>
</div>

<div>
    <button onclick="play()"> Play (first card)</button>
</div>

<div>
    <button onclick="exchange()"> Exchange (first card)</button>
</div>


<div class="playArea">
    <div class="gameTable"></div>

    <div class="mainPlayerHand">
        <table>
            <tbody class="mainPlayerHandTBody">
            </tbody>
        </table>
    </div>
</div>

</body>
</html>