<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/pregamePage.css">
    <link rel="stylesheet" href="/common.css">
    <title>Stay Away</title>
    <script src="/pregame.js"></script>
</head>
<body>

<div class="mainHeader"> Pregame</div>

<div sec:authorize="isAuthenticated()" class="loggedInAs">
    Authenticated as <span sec:authentication="name"></span></div>

<div>
    <button onclick="startGame()"> Start</button>
</div>

<div class="users">
    <table class="userTable">
        <tr>
            <th>User</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user}" class="userIDCell"></td>
        </tr>
    </table>
</div>

</body>
</html>